@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
body, html {
    font-family: 'Inter', sans-serif;
}

/* GLOBAL SELECTORS */
p{
    font-size: 20px;
    font-weight: 400;
}

h1{
    font-size: 35px;
    font-weight: 700;
}

h2{
    font-size: 30px;
    font-weight: 600;
}

h3{
    font-size: 25px;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: black;
}

/* CLASSES & ID's */
/* GERAL */
.white-text{
    color: white;
}

.purple-text{
    color: var(--primary)
}

.purple-background{
    background-color: var(--primary);
}

.display-2{
    font-weight: 600;
}

.section-heading-1{
    font-size: 50px;
}

.section-heading-2{
    font-size: 35px;
}

.section-heading-3{
    font-size: 30px;
}

.section-subheading{
    font-size: 20px;
    font-weight: 600;
}

.text-1{
    font-size: 25px;
}

.text-2{
    font-size: 20px;
}

.paragraph-padding{
    padding-left: 8%;
    padding-right: 8%;
}

.button-purple{
    color: white !important;
    background-color: var(--primary) !important;
    border: none;
    border-radius: 20px;
    font-weight: 600;
}

.button-white{
    color: var(--primary) !important;
    background-color: white !important;
    border: none;
    border-radius: 20px;
    font-weight: 600;
}

.button-purple:hover,
.button-purple:active{
    background-color: var(--primary-dark) !important;
}

.button-white:hover,
.button-white:active{
    background-color: lightgray !important;
}

.image-round{
    border-radius: 40px;
}

/* NAVBAR */
#logo{
    width: 100px;
    height: 100px;
}

header a{
    color: var(--primary);
}

header a:hover{
color: var(--secondary);
}

header{
    background-color: transparent;
    /*box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);*/
    transition: background ease-out 0.2s;
}

header .container-fluid{
    display: flex;
    justify-content: center;
}

header .navbar-collapse{
    font-size: larger;  
}

header .nav-link{
    margin-left: 10px;
    margin-right: 10px;
    color: #808080;
    border-bottom: solid 4px transparent;
}

header .nav-link:hover{
    border-bottom: solid 4px var(--secondary);
    color: var(--secondary);
}

header .btn-primary,
header .btn-primary:hover{
    background-color: var(--primary);
    border-color: var(--primary);
    border-radius: 15px;
}

header .alert-primary{
    background-color: var(--secondary);
    color: #fff;
    padding-left: 40px;
    padding-right: 40px;
}

.navbar-nav .nav-link.active{
    border-bottom: solid 4px var(--secondary);
    color: var(--secondary)
}

.navbar-toggler-icon{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

/* INDEX */
#img-top-dogs{
    max-height: 90vh; 
    object-fit: cover;
}

#img-logo{
    max-height: 70vh; 
    padding-left: 15%;
}

#slogan{
    color: white;
    overflow: hidden;
    font-weight: 800;
}

#slogan-md{
    margin-left: 2%; 
    padding-right: 15%;
}

#slogan-sm{
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.highlight{
    display: inline-block;
    text-align: center;
    width: auto;
    height: auto;
    line-height: 70%;
    background-color: var(--primary);
}    

/* ADOTAR */
.alert{
    font-size: 20px;
    border-radius: 0;
}

.form-select{
    color: #808080;
    background-color: #e7e7e7;
    border-radius: 15px;
}

.card-image{
    width: auto;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.adopt-button{
    width: 100%;
    min-height: 40px;
    font-weight: 600;
    font-size: 20px;
}

.card{
    margin-top: 20px;
    border-radius: 20px;
    border: 4px solid var(--primary);
    background-color: #E7E7E7;
}

/*DOAR*/
.donation-method{
    color: #808080;
}

.donation-method:active,
.donation-method:hover{
    color: #808080;
    outline-width: 2px;
}

#tabs .donation-method.active{
    background-color: var(--primary);
    color: #fff;
}

.donation-amount-button{
    background-color: #f2f2f2;
    border-radius: 20px;
}

.donation-amount{
    font-weight: 700;
}

.donation-description{
    color: #474747;
}

.donation-card{
    text-align: center;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.donation-card-header{
    background-color: #e7e7e7;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
}

.donation-card-body{
    border: #E7E7E7 solid 2px;
    border-radius: 10px;
    padding: 20px;
}

#cash .donation-card-body{
    border-radius: 0px 0px 10px 10px;
}

/* CONTATO */
.contact-link{
    color: var(--primary);
}

.contact-link-text{
    text-decoration: underline;
    font-weight: 600;
}

.map-embed{
    border-radius: 15px;
    overflow: hidden;
    max-width: 750px;
    height: 450px;
    width: 100%;
}

/* FAQ */
.question-container{
    border-color: #D9D9D9;
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
    padding-bottom: 1%;
    padding-top: 1%;
}

.question-headline{
    color: black !important;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 0;
}

.question-content{
    color: #5B5B5B;
    font-weight: 450;
    font-size: 20px;
}

.toggle-collapsible{
    color: none;
    text-decoration: none;
    transition: all 0.2s;
}

/* LOGIN */ 

#login-form{
    max-width: 500px;
    margin-left: auto;
}

.login-input{
    border-radius: 30px;
    border-width: 3px;
    border-color: #808080;
    border-style: solid;
    width: 100%;
    font-size: x-large;
    font-weight:600;
    padding: 10px;
    outline: none;
}

.login-label{
    color: var(--primary);
    font-weight: 700;
    font-size: x-large;
}

#login-button{
    width: 100%;
    border-radius: 30px;
    font-size: x-large;
}
